<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googleMapAPIKey</key>
	<string>AIzaSyBVkrrCSRjVvz1B0PnC9OJi6JE-mKmXy0s</string>
	<key>spotifyClientId</key>
	<string>d6f6e2673958407a96ff8f444a3c2462</string>
	<key>spotifyClientSecret</key>
	<string>feff38a442bf4c01a8fcc003bfeaf75e</string>
	<key>parseApplicationKey</key>
	<string>C4jvsJziaR7Dc3wpFuGGImYIlBFQDYYOv2SUFzFl</string>
	<key>parseClientKey</key>
	<string>UuSEfRsrU4Wvjn0wNdEoyjkvwfu4BeGDESiE7yyB</string>
</dict>
</plist>
