<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>googleMapAPIKey</key>
	<string>AIzaSyBVkrrCSRjVvz1B0PnC9OJi6JE-mKmXy0s</string>
	<key>spotifyClientId</key>
	<string>804eb482ff2349f2b902a7774bfe58ce</string>
	<key>spotifyClientSecret</key>
	<string>6aaf82e1387c4c3399fb1c2b771f63a8</string>
	<key>parseApplicationKey</key>
	<string>rVNOP6zGJ4i9SMb4ONhxxHzSui6UuEiSYzQqMILR</string>
	<key>parseClientKey</key>
	<string>1thWpZNaRGyrTxOLuWFT0Auq8pgaNA5LJJeurjlg</string>
</dict>
</plist>
